body {
  background-color: #FDF5F7;
  font-family: "Verdana", Geneva, sans-serif
}
#bar{
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  padding-left: 30px;
  background-color: #FFFFFF;
  color: #3D5A80;
  border-bottom: 1px solid #3D5A80;
  box-shadow: 40px;
}
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 70px;
}
#text {
  text-align: left;
  font-size: 15px;
  color: #707070
}
#title {
  border: 2px solid #3D5A80;
  font-size: 37px;
  padding: 10px;
  color: #393838;
  margin: 20px;
  background-color: #FFFFFF;
}
footer {
  position: absolute;
  bottom: 15px;
}
#home{
  text-decoration: none;
  color: #3D5A80;
}
#home:hover{
  cursor: pointer;
}
.symbols{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#symbol1{
  padding: 110px;
  animation: flash 3s infinite;
  animation-timing-function: cubic-bezier(0.42, 0, 0.7, 0.5);
}
#symbol2{
  padding: 110px;
  animation: flash2 3s infinite;
  animation-timing-function: cubic-bezier(0.42, 0, 0.7, 0.5);
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes flash2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
