body {
  background-color: #FDF5F7;
  font-family: "Verdana", Geneva, sans-serif;
}

#bar{
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  padding-left: 30px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #3D5A80;
  box-shadow: 40px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 70px;
}

#text {
  text-align: center;
  font-size: 15px;
  color: #707070
}

#title {
  border: 2px solid #3D5A80;
  font-size: 37px;
  padding: 10px;
  color: #393838;
  margin: 20px;
  background-color: #FFFFFF;
}

#hm {
  font-size: 24px;
  color: #393838;
  padding-top: 20px;
  padding-bottom: 10px;
}

#steps {
  display: flex;
  flex-direction: row;
}

.step {
  width: 200px;
  height: 300px;
  text-align: center;
  color: #3D5A80;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
}

.circles {
  padding-top: 30px;
  transition: opacity .5s, transform .5s;

}

.circles:hover {
  cursor: pointer;
  opacity: .5;
  transform: scale(0.9)
}

#check {
  position: relative;
  top: -20px;
}
#home{
  text-decoration: none;
  color: #3D5A80;
}
#home:hover{
  cursor: pointer;
}
